.App {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px black;
  
}
.Header {
  color: #7913cc;
  text-shadow: 1px 1px 5px #fff;
  font-size:5.5rem;
}


/* write your parent styles in here for your App.js */
